@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    background-color: #f0e2d4;
    margin: 0 0 0 0;
}

header {
    background-color: #b0b4b1;
    text-align: center;
    color: #fff;
    margin: auto;
    display: flex;
    justify-content: center;
}

header img {
    display: flex;
    padding: 1px;
    width: 50px;
}

.headings {
    display: flex;
    flex-direction: column;
    padding:0 10px 0 0;
}

h1,
h4
 {
    font-family: 'Quicksand', sans-serif;
    
}

.navigation {
    background-color: #2320a0;
    padding: 0;
    margin: 0;
}

.navigation a {
    padding: 15px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation .active {
    color: red;  
}

.navigation a:hover {
    background-color: #9af170;

}

.responsive li {
    display: block;
}

div.team {
    background-color: #a1a0a0;
    margin: 1rem;
    padding: 0.75rem;
}

div.team-data {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
}

div.team-data section {
    display: grid;
    grid-template-rows: auto;
    justify-items: normal;
    width: 97%;
    margin: 0.5rem 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.4);
}

div.team-data section div.town-info {
    margin: 1rem;
}

div.team-data section h3 {
    font-size: 2.25rem;
    text-align: center;
    margin: 0;
}

div.team-data section p {
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
}

div.team-data section p.level {
    font-weight: bold;
    
}

div.team-data section div.town-image {
    display: grid;
    margin: 0 0 2em 15em;
}

div.team-data section div.town-image img {
    display: grid;
    align-self: end;
    width: 70%;
    float: left;
}


main {
    max-width: 1090px;
    margin: auto;
}



address {
    font-style: normal;
    font-size: 0.8em;
}



h2 {
    text-align: center;
}

.content {
    padding: 30px;
    margin: 20px;
    background-color: #e0e2dd;
    border: 1px;
}

footer {
    background-color: #b0b4b1;
    color: #fff;
    margin: auto;
    text-align: center;
    font-size: 15px;
    padding: 20px 20px 20px 20px;
    
}

  