@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    background-color: #f0e2d4;
    margin: 0 0 0 0;
}

header {
    background-color: #b0b4b1;
    text-align: center;
    color: #fff;
    margin: auto;
    display: flex;
    justify-content: center;
}

header img {
    display: flex;
    padding: 1px;
    width: 50px;
}

.headings {
    display: flex;
    flex-direction: column;
    padding:0 10px 0 0;
}

h1,
h4
 {
    font-family: 'Quicksand', sans-serif;
    
}

.navigation {
    background-color: #2320a0;
    padding: 0;
    margin: 0;
}

.navigation a {
    padding: 15px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation .active {
    color: red;  
}

.navigation a:hover {
    background-color: #9af170;

}

.responsive li {
    display: block;
}

div.towns {
    background-color: #a1a0a0;
    margin: 1rem;
    padding: 0.75rem;
}

div.town-data {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
}

div.town-data section {
    display: grid;
    grid-template-rows: auto;
    justify-items: normal;
    width: 97%;
    margin: 0.5rem 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.4);
}

div.town-data section div.town-info {
    margin: 1rem;
}

div.town-data section h3 {
    font-size: 1.25rem;
    text-align: center;
    margin: 0;
}

div.town-data section p {
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
}

div.town-data section p.motto {
    font-weight: bold;
    font-style: italic;
}

div.town-data section div.town-image {
    display: grid;
}

div.town-data section div.town-image img {
    display: grid;
    align-self: end;
    width: 100%;
}


main {
    max-width: 1090px;
    margin: auto;
}

.section1 {
    position: relative;
    margin: 1rem;
}

.heroimg {
    width: 100%;
    overflow: hidden;
}

.heroimg img {
    width: 120%;
    margin-left: -3rem;
}

.weathersummary {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    background-color: rgba(191, 224, 124, 0.7);
    padding: 1rem;
    border-radius: 15px;
    font-size: .8em;
    color: #000;
}

.weathersummary h3 {
    font-size: 1.1em;
    margin: 0;
}

.wsc {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 0 0.5rem;
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 0.9em;
    color: #000;
}

.wsc div {
    margin: 0;
    line-height: 1.1rem;
}

.box {
    display: grid;
    justify-items: end;
}

.section2 {
    display: none;
    background-color: #e0e2dd;
    margin: 1rem;
    padding: 1rem;
}

.section2 h3 {
    font-size: 1.25em;
    text-align: center;
    margin: -0.5rem 0 0.5rem 0;
}

.forecast {
    width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.forecast div {
    display: grid;
    justify-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.forecast-image img {
    width: 80%;
    padding: 0.75rem;
}

.forecast-day {
    font-weight: bold;
    padding: 0.2rem;
    color: white;
    background-color: rgb(62, 65, 66);
}

.forecast-temp {
    padding-bottom: 1rem;
    grid-template-columns: 3.5rem 0 0 0;  
}

.section3 {
    
    margin: 2rem;
    padding: 1rem;
}

.article-img {
    display: block;
    margin: 1rem auto;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

.article-img2 {
    display: block;
    margin: 1rem auto;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}


.author {
    margin-top: 0;
    color: rgba(0, 0, 0, 0.931);
}

.section4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #5897d0;
    padding: 1rem;
    margin-bottom: 0;
}

.contact-img {
    display: none;
    margin: 1em;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.contact-img img {
    width: 100%;
    border: 1px solid rgba(56, 30, 30, 0.6);
}

.contact-box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

address {
    font-style: normal;
    font-size: 0.8em;
}



h2 {
    text-align: center;
}

.content {
    padding: 30px;
    margin: 20px;
    background-color: #e0e2dd;
    border: 1px;
}

footer {
    background-color: #b0b4b1;
    color: #fff;
    margin: auto;
    text-align: center;
    font-size: 15px;
    padding: 20px 20px 20px 20px;
    
}

  