body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.75;
    color: rgb(0, 0, 0);

}

header,
footer {
    background-color: rgb(62, 65, 66);
    color: #fff;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: auto;
}

h1,
h2 {
    margin: 0 auto;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 2rem;
    margin: auto;
    background-color: #e0e2dd;
}

figure {
    display: grid;
    align-content: space-between;
    justify-content: center;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

figure img {
    display: grid;
    width: 100%;
    filter: blur(0em);
    transition: filter 0.5s;
}

figure img[data-src] {
    filter: blur(0.2em);
}

figure figcaption {
    display: grid;
    padding: 1rem;
    text-align: center;
    align-items: center;
    max-width: 270px;
}

#updated {
    color: rgb(208, 206, 186);
}

footer a {
    color: white;
}