@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    background-color: #f0e2d4;
}

table {
    border-collapse: collapse;
    letter-spacing: 1px;
    border: 1px solid rgb(190, 190, 190);
    top: 20%;
    left: 45%;
    margin: 2em 0 0 25em;
    width: 50%;
    margin: 1em 10em 0 1em;
  }

  thead {
    background-color: #2320a0;
  }
  

  thead {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
  }

  td {
    text-align: center;
  }

  td,
  th {
    border: 1px solid rgb(190, 190, 190);
    padding: 8px;
  }

  tbody th {
    background-color: #b0b4b1;
    color: white;
    font-size: 1.2rem;
  }

header {
    background-color: #b0b4b1;
    text-align: center;
    color: #fff;
    margin: auto;
    display: flex;
    justify-content: center;
}

header img {
    display: flex;
    padding: 1px;
    width: 50px;
}

.headings {
    display: flex;
    flex-direction: column;
    padding:0 10px 0 0;
    margin:8px;
}

h1,
h4
 {
    font-family: 'Quicksand', sans-serif;
    
}

.navigation {
    background-color: #2320a0;
    padding: 0;
    margin: 0;
}

.navigation a {
    padding: 16px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation .active {
    color: red;  
}

.navigation a:hover {
    background-color: #9af170;

}

.responsive li {
    display: block;
}

main {
    max-width: 1090px;
    margin: auto;
}

form fieldset {
    margin: 2rem 0%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0 4% 2rem 4%;
}

form fieldset.color1 {
    background-color: #fff;
}

form fieldset.color2 {
    background-color: #fff;
}

form fieldset.color3 {
    background-color: #fff;
}

form legend {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
    margin: 0 1rem;
    padding: 0 0.5rem;
    text-shadow: white 1px 1px, white -1px 1px, white 2px 2px 2px, white -2px 2px 2px,
        white 3px 3px 4px, white -3px 3px 4px, white 4px 4px 6px, white -4px 4px 6px,
        white 5px 5px 8px, white -5px 5px 8px, white 6px 6px 10px, white -6px 6px 10px;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
}

form label.top input,
form label.top select,
form label.top textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: 0.75rem;
    color: #555;
    width: 89%;
    max-width: 20rem;
    background-color: rgba(255, 255, 255, 0.5);
}

form label input:focus,
form label select:focus,
form label textarea:focus {
    border: 1px solid black;
    outline: none !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

form label.sbs {
    display: block;
    padding: 3px;
    color: rgb(241, 0, 0);
}

form label.top input:required {
    border-color: rgb(255, 0, 21);
}

form label.top input:required:valid {
    border-color: rgb(255, 5, 5);
}

form input.submitBtn {
    border: 0em;
    background-color: #afa6a4;
    margin: 0 0 3rem 0;
    width: 50%;
    max-width: 20rem;
    height: 3rem;
    color: #000;
    border-radius: 15px;
}

form div.button-div {
    margin: 3rem 3%;
}


.contact-img {
    display: none;
    margin: 1em;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.contact-img img {
    width: 80%;
    border: 1px solid rgba(56, 30, 30, 0.6);
}

.contact-box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #b0b4b1;
    color: #fff;
    margin: auto;
    text-align: center;
    font-size: 15px;
    padding: 20px 20px 20px 20px;
    
}